:root {
    --favcolor: rgba(33, 158, 216, 0.288);
}


/* --------header----- */
.head-top {
   /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.466);

    backdrop-filter: blur(50px);

    >.row {
        padding: 0 7%;
        height: 100%;

        >* {
            height: 100%;

        }

        >figure {
            width: 25%;
            display: flex;
            align-items: center;
        }

        >nav {
            width: 60%;

            >ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-end;

                >li {

                    &:first-of-type {
                        >a {
                            color: blue;
                        }
                    }


                    >a {
                        display: flex;
                        height: 100%;
                        text-transform: capitalize;
                        align-items: center;
                        color: rgb(0, 0, 0);
                        padding: 0 30px;


                        &:hover {
                            color: rgb(23, 7, 255);

                        }
                    }

                }
            }
        }

        >div {
            width: 15%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            >a {
                display: flex;
                width: 150px;
                height: 45px;
                background-color: var(--favcolor);
                color: rgb(255, 253, 253);
                justify-content: center;
                align-items: center;
                &:hover {
                    color: rgba(41, 41, 41, 0.774);
                }
            }
        }
    }

}

/* -----end header-----  */
/* -----backround------ */
.div {
    width: 100%;
    height: 100vh;
    background-image: url(../images/promote_slider-2.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    position: relative;
    overflow: hidden;

    >.text {
        position: absolute;
        top: 30%;
        color: white;

        >* {
            width: 100%;
            text-transform: capitalize;

        }

        >h2 {
            font-size: 130px;
            margin-left: 140px;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            font-family: "Fjalla One", sans-serif;
        }

        >p {
            color: rgba(255, 255, 255, 0.904);
            font-size: 30px;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            margin-left: 130px;
        }
    }
}

/* ----- end backround------ */
/* ------img-------- */
.row {
    width: 100%;
    height: 200vh;

    >h2 {
        color: black;
        font-size: 75px;
        margin-top: 150px;
        margin-left: 70px;
    }

    >p {
        color: rgba(0, 0, 0, 0.651);
        font-size: 30px;
        margin-top: 40px;
        margin-left: 70px;
    }

    >img {
        width: 100%;
        height: 50%;
        margin-top: 120px;

    }
}

/* ------end img-------  */
/* -------div------ */
.z{
    width: 100%;
    height: 100vh;
    display: flex;
    >.img{
        width: 50%;
        >img{
            width: 100%;
            height: 100%;
            object-fit: cover;
           margin-top: 90px;
           padding: 70px;
        }
    }
    .txt{
            width: 50%;
        padding: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        >p{
            font-size: 26px;
            color: rgba(0, 0, 0, 0.849);
            margin-top:150px ;
            padding: 0 ;
        }
        >a{
            background-color: var(--favcolor);
            color: rgb(0, 0, 0);
            padding: 20px 30px;
            margin-left: 5%;
            margin: 70px;
            transition: 0.6s;
            margin-top: 60px;
           

            &:hover {
               background-color: rgba(26, 26, 194, 0.623);

            }
        }
    }
}
/* -------end div------  */
/* ------bac------ */
.bac{
    width: 100%;
    height: 100vh;
    background-image: url(../images/promote_bkgd_4.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    position: relative;
    overflow: hidden;
    margin-top: 250px;
    >.text{
         position: absolute;
        top: 50%;
        color: white;
        text-align: center;

        >* {
            width: 100%;
            text-transform: capitalize;

        }

        >h2 {
            font-size: 50px;
            margin-left: 100px;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-family: "Fjalla One", sans-serif;
        }
    }
}
/* --------end bac------  */
/* -------roww------- */
.roww{
        width: 100%;
    height: 200vh;
 

    >h2 {
        color: black;
        font-size: 50px;
        margin-top: 150px;
        margin-left: 100px;
       
    }

    >p {
        color: rgba(0, 0, 0, 0.651);
        font-size: 25px;
        margin-top: 40px;
        margin-left: 100px;
       
    }
    >img{
        width: 100%;
        height: 100%;
        padding: 100px;
        object-fit: cover;
        margin-top: 30px;
       
    }
}
/* ------- end roww------ */
/* -------p----- */
.p{
   width: 100%;
   >p{
    color: rgba(0, 0, 0, 0.466);
    font-size: 30px;
    margin-top: 400px;
    padding:0 90px;
   }
}
/* -------end p----  */
/* ------images------ */
  .images{
width: 100%;
height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    >img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        margin-top: 200px;
        transition: 1s;
        &:hover{
            scale: 1.1;
        }
    }
   }
   /* ------ end images------ */
   /* -----footer------ */


.fixed-profile {
    position: fixed;
    left: 20px;
    bottom: 7px;
    display: flex;
    align-items: center;
    gap:0;
    z-index: 9999;
}


.title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 13px;
    color: #000000;
    margin-left: -6px;
}


.circle-wrapper {
    position: relative;
    width: 170px;
    height: 170px;
    margin-left: -22px;
}


.circle-wrapper img {
    width: 130px;
    height: 130px;
    /* border-radius: 50% 50% 50% 50%; */
    border-radius: 40px;
    object-fit: cover;
    border: 3px solid #eee;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.icon {
    position: absolute;
    width: 36px;
    height: 36px;
    background: #fffefe;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #000000;
    font-size: 17px;

    opacity: 0;
    transform: scale(6px);
    transition: 0.4s;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.circle-wrapper:hover .icon {
    opacity: 1;
}


.icon:nth-child(5) { top: 10%;left: 75%; }  
.icon:nth-child(3) { top: 30%;left: 85%; }  
.icon:nth-child(4) { top: 53%; left: 85%; }  
.icon:nth-child(2) { top: 73%;left: 75%; } 

.instagram {
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.telegram {
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
}

.github {
    bottom:0;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.mail {
   left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
}


.circle-wrapper:hover .icon {
    opacity: 1;
    transform: scale(1);
}


.icon:hover {
    background: #ff7a00;
    color: #ffffff;
}
/* ------ end footer----- */
/* ---------footer2-------- */
.end-section {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0377ad49;
}

.end-card {
  width: 550px;
  padding: 30px 25px;
  /* background: #111827; */
  /* border-radius: 73% 27% 70% 30% / 37% 66% 34% 63% ; */
  text-align: center;
  color: #fff;
  position: relative;
}

.end-img {
  width: 250px;
  height: 250px;
  margin: 0 auto 15px;
  /* border-radius: 45% 55% 60% 40% / 45% 40% 60% 55%;; */
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #000000;
}

.end-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.end-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.end-text {
  font-size: 16px;
  line-height: 1.8;
  color: #000000e3;
  margin-bottom: 20px;
}

.end-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
/* ----------end footer2-------  */
